.backicon
{
    height: 60%;
    width: 7%;
    font-size: 20px;
    background-color: #e3e3e3;
    border-radius: 50%;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.Header-page
{
    height: 100%;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Rx-title
{
    color: var(--unnamed-color-0f0b11);
text-align: left;
font: normal normal 600 20px/30px Poppins;
letter-spacing: 0px;
color: #0F0B11;
opacity: 1;
width: 60%;
}

.part1
{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.part2
{
    height: 100%;
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part3
{
    height: 100%;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: end;
}


.profile
{
    height: 100%;
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
}
