/* Popup Background */
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Popup Content */
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .popup-content h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .popup-content p {
    margin: 15px 0;
    color: #666;
  }
  
  /* Buttons */
  .popup-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .cancel-button,
  .inactive-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: transparent;
    color: #00bfa6; /* Acva color */
    border: 1px solid #00bfa6;
  }
  
  .inactive-button {
    background-color: #ff6b6b;
    color: white;
  }
  
  .cancel-button:hover {
    background-color: #e0f7f5;
  }
  
  .inactive-button:hover {
    background-color: #ff5252;
  }
  