.Rx
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header
{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rx-main
{
    height: 93%;
    width: 100%;
    display: flex;
    border-top: 1px solid gray;
}

.rx-list
{
    height: 100%;
    width: 27%;
    border-right: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rx-list1
{
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rx-list-drug
{
    height: 100%;
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Rx-title2
{
    color: var(--unnamed-color-0f0b11);
font: normal normal 600 18px/30px Poppins;
letter-spacing: 0px;
color: #0F0B11;
opacity: 1;
}

.head{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus
{
    height: 100%;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#007965 ;
}

.search
{
    height: 40%;
    width: 100%;
    display: flex;
    border: 2px solid gray;
    border-radius: 7px;
}

.searchicon
{
    height: 100%;
    width: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchtext
{
    border: none;
    width: 90%;
    height: 90% ;
    outline: none;
}

.rx-container
{

border-radius: 8px;
opacity: 1;
height: 82%;
width: 100%;
padding-top: 4%;
overflow-y: scroll;
scrollbar-width: none;
justify-content: center;
align-items: center;
gap: 40px;
}

.each{
opacity: 1;
height: 13%;
gap: 2%;
width: 100%;
border-bottom: 2px solid gray;
margin-bottom: 10px;
}

.each1
{
border-radius: 8px;
opacity: 1;
height: 90%;
width: 97%;
display: flex;
align-items: start;
padding-left: 3%;
}

 .each1.selected {
    background-color: #E1EDEB; 
  }

  .each1.selected .groupname { 
    color: #007965;
  }
  

.HeadBox
{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.groupname
{
    text-align: left;
    /* background-color: red; */
    width: 100%;
font-size: 18px;
font-weight: 550;
color: #5C6266;
display: flex;
align-items: center;
opacity: 1;
height: 50%;
}


.drugcount
{
    color: var(--tertiary-text-808080);
text-align: left;
font: normal normal normal 14px/21px Poppins;
letter-spacing: 0px;
color: #808080;
opacity: 1;
display: flex;
width: 100%;
height: 50%;
/* background-color: pink; */
}

.g-title
{
    height: 100%;
    width: 70%;
}

.g-action
{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.renameicon
{
    height: 100%;
    width: 40%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}


.switch
{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}


.rx-list-drug1
{
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.group-title
{
    font-size: 22px;
    font-weight: 700;
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
}

.added-drug
{
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.rx-drug{
    width: 100%;
    height: 87%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.drug-container
{
    width: 100%;
    height: 12%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.drug-container1
{
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rx-drug-container
{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drug-name
{
    font-size: 19px;
    font-weight: 700;
    color: #4D4D4D;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}
.drug-details
{
    height: 50%;
    width: 100%;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}

.details-text
{
    height: 100%;
    width: 60%;
    display: flex;
}

.details-action
{
    height: 100%;
    width: 8%;
    display: flex;
}

.action-icon
{
    height: 100%;
    width: 50%;
    font-size: 20px;
}

.container-head
{
    height: 1.5%;
    width: 100%;
    background-color: #F5F5F5;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
}

.container-bottom
{
    height: 10%;
    width: 100%;
    background-color: #F5F5F5;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
}
.container-bottom.selected
{
    border-top: 1px solid gray;
}

.plus-new
{
    color: #007965;
    width: 3%;
    padding-left: 2%;
    padding-right: 1%;
    font-size: 25px;
    display: flex;
    align-items: center;

}

.adddrug
{
    font-size: 20px;
    font-weight: 700;
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
}

.inactive-button {
    background-color: #F44F5A; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }


  .cancel-button {
    border: 1.5px solid #007965; 
    color: #007965;
    background-color: transparent;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: bold;
  }
